/* Custom css */

ul.header.links li {
    display: inline;
    font-size: 12px;
    padding: 12px;
}
.top-links {
    background: white;
    margin: 0 !important;
}
ul.header.links {
    float: right;
}