/* Custom css */

ul.header.links li {
    display: inline;
    font-size: 12px;
    padding: 12px;
}
.top-links {
    background: white;
    margin: 0 !important;
}
ul.header.links {
    float: right;
}
  .level-2 {
    color : #ff0000;
  }
  .level-3 {
    color : #800000;
  }
  .level-4 {
    color : #000080;
  }
  .level-5 {
    color : #808000;
  }
  .level-6 {
    color : #00ff00;
  }
  .level-7 {
    color : #008000;
  }
  .level-8 {
    color : #0000ff;
  }
  .level-9 {
    color : #800080;
  }