/* Custom css */

ul.header.links li {
    display: inline;
    font-size: 12px;
    padding: 12px;
}
.top-links {
    background: white;
    margin: 0 !important;
}
ul.header.links {
    float: right;
}
.level-1 {
    background-color : #FFFF00;
}
.level-2 {
    background-color : #00FF00 ;
}
.level-3 {
    background-color : #00FFFF;
}
.level-4 {
    background-color : #FF00FF;
}
.level-5 {
    background-color : #808080;
}
.level-6 {
    background-color : #008080;
}
.level-7 {
    background-color : #A52A2A;
}
.level-8 {
    background-color : #008000;
}
.level-9 {
    background-color : #800080;
}
.level-10{
    background-color : #FF0000;
}